/* Default styles*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root,
body {
    min-height: 100vh;
}

body {
    margin: 0;
}

#root,
.todo-list-app {
    display: flex;
    flex-flow: column nowrap;
}

#root {
    align-items: center;
    width: 100%;
}

/* Todo list app styles  */
.todo-list-app {
    padding-top: 32px;
    width: 100%;
    max-width: 480px;
}

/* Todo form styles */
.todo-form input,
.todo-item {
    border: 1px solid #ececec;
}

.todo-form input {
    padding: 0 14px;
    width: 100%;
    height: 48px;
    transition: .25s border ease-in-out;
}

.todo-form input:focus {
    outline: 0;
    border: 1px solid #3498db;
}

/* Todo list styles */
.todo-list ul {
    padding: 0;
    margin: 0;
}

.todo-list li {
    list-style-type: none;
}

/* Todo item styles */
.todo-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px;
}

.todo-form + .todo-list ul .todo-item {
    border-top: 0;
}

.todo-item-input-wrapper {
    flex-grow: 1;
    padding: 0 16px;
}

.todo-item input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .25s border-bottom ease-in-out;
}

.todo-item input:focus {
    outline: 0;
    border-bottom: 1px solid #3498db;
}

.todo-item .todo-input-error {
    border-bottom: 1px solid #e74c3c;
}

.todo-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #ececec;
    transition: .25s all ease-in-out;
}

.todo-item-unchecked:hover {
    background: hsla(168, 76%, 42%, .25);
    border: 1px solid hsl(168, 76%, 42%, .25);
}

.todo-item-checked {
    color: #fff;
    background: #1abc9c;
    border: 1px solid #1abc9c;
}

.completed-task{
    text-decoration: line-through;
}

h1 {
    text-align: center;
    font-family: Arial;
}

.item-remove {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 22px;
    cursor: pointer;
    line-height: 1;
    color: #ececec;
    transition: .25s color ease-in-out;
}

.item-remove:hover {
    color: #111;
}

/* Style the input container */
.input-container {
    display: inline;
    width: 100%;
    margin-bottom: 15px;
}

.save-icon{
    cursor: pointer;
}

/* Style the input fields */
.input-field {
    width: 95%;
    padding: 10px;
    outline: none;
    border: 0;
}

.input-field:focus {
    border-bottom: 1px solid #3498db;
}


